.body-style {font-family: 'Montserrat', sans-serif;
background: #E5E5E5;}

.wrapper {
background-color: white;
width: 1280px;
height: 1626px;
margin: auto;
}

.table {
font-weight: 700;
font-size: 18px;
color: #FF0000;
text-align: center;
padding: 32px 330px;
line-height: 18px;
letter-spacing: 2.7px;
}

.table_text {
text-decoration: none;
  display: inline-block; 
 padding-right: 36px;}

 .design {padding-right : 0px ;
    text-decoration: none;
    display: inline-block;}

.download {padding-left: 25px;
text-decoration: none;
    display: inline-block;}

.URL {text-decoration: none;
color: #FF0000;}


.img {margin-bottom: 49px;}

.main_head {font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
padding: 0 253px 38px  ;}

.text_style1 {font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
padding: 0 68px 28px;}

.text_style2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
   padding: 0 68px 66px;
}


.button {
    background-color: #FF0000;
    color: white;
    border-radius: 4px;
    padding: 18px 44px 17px 43px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin: 0 545px 42px;
}

.footer {
    font-size: 16px;
        line-height: 20px;
        align-items: center;
        letter-spacing: 2.4px;
        color: #373737;
        font-weight: 700;
        padding: 40px 105px 29px 700px;
}